# Python sqlite3 Database Development

In [1]:
#create product database
#create products and prices table

import sqlite3
conn = sqlite3.connect('item_database') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
                     
conn.commit()

In [2]:
#Insert Values into products and prices table

import sqlite3

conn = sqlite3.connect('item_database') 
c = conn.cursor()
                   
c.execute('''
          INSERT INTO products (product_id, product_name)

                VALUES
                (1,'Spaggetti'),
                (2,'Rice'),
                (3,'bread'),
                (4,'Sugar'),
                (5,'Pepper')
          ''')

c.execute('''
          INSERT INTO prices (product_id, price)

                VALUES
                (1,50),
                (2,70),
                (3,2),
                (4,5),
                (5,5)
          ''')

conn.commit()

In [3]:
#join products table and prices table using product id column
#display in pandas

import pandas as pd

conn = sqlite3.connect('item_database') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products a
          LEFT JOIN prices b ON a.product_id = b.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)

  product_name  price
0    Spaggetti     50
1         Rice     70
2        bread      2
3        Sugar      5
4       Pepper      5

In [4]:
df.style.background_gradient(cmap='plasma')

In [5]:
# load dataframe into CSV file.
df.to_csv('item_database.csv', index=False, header=True)